<form name="femaleEdit" novalidate ng-submit="edit.submit()">

    <div class="form-group">
        <input name="firstName"
        ng-model="edit.female.firstName"
        required
        ng-maxlength="255"
        ng-focus
        type="text"
        placeholder="First Name"
        class="form-control">
    </div>

    <div class="error"
    ng-show="femaleEdit.firstName.$dirty && femaleEdit.firstName.$invalid && !femaleEdit.firstName.$focused"
    ng-messages="femaleEdit.firstName.$error">
        <p ng-message="required">Please enter a first name.</p>
        <p ng-message="maxlength">The maximum allowed length for the first name is 255 characters.</p>
    </div>

    <div class="form-group">
        <input name="lastName"
        ng-model="edit.female.lastName"
        required
        ng-maxlength="255"
        ng-focus
        type="text"
        placeholder="Last Name"
        class="form-control">
    </div>

    <div class="error"
    ng-show="femaleEdit.lastName.$dirty && femaleEdit.lastName.$invalid && !femaleEdit.lastName.$focused"
    ng-messages="femaleEdit.lastName.$error">
        <p ng-message="required">Please enter a last name.</p>
        <p ng-message="maxlength">The maximum allowed length for the last name is 255 characters.</p>
    </div>

    <div class="form-group">
        <textarea name="bio"
        ng-model="edit.female.bio"
        required
        ng-focus
        placeholder="Bio"
        class="form-control"></textarea>
    </div>

    <div class="error"
    ng-show="femaleEdit.bio.$dirty && femaleEdit.bio.$invalid && !femaleEdit.bio.$focused"
    ng-messages="femaleEdit.bio.$error">
        <p ng-message="required">Please enter a bio.</p>
    </div>

    <div class="form-group">
        <textarea name="fantasticBio"
        ng-model="edit.female.fantasticBio"
        required
        ng-focus
        placeholder="Reason for being so fantastic"
        class="form-control"></textarea>
    </div>

    <div class="error"
    ng-show="femaleEdit.fantasticBio.$dirty && femaleEdit.fantasticBio.$invalid && !femaleEdit.fantasticBio.$focused"
    ng-messages="femaleEdit.fantasticBio.$error">
        <p ng-message="required">Please enter a reason this female is considered fantastic.</p>
    </div>

    <button type="submit" ng-disabled="femaleEdit.$invalid" class="btn btn-primary">Save changes</button>

    <button type="button" ng-click="edit.delete()" class="btn btn-primary">Delete Female</button>

</form>

<a href="/detail" class="btn btn-primary" ng-click="edit.setId(edit.female.id)">Return to {{edit.female.firstName}} {{edit.female.lastName}}</a>

<error-message error-type="edit.errorType"></error-message>
