<form method="POST" action="">

<div class="form-group">
    <input name="first_name" ng-model="create.first_name" type="text" maxlength="255" placeholder="First Name" class="form-control">
</div>

<div class="form-group">
    <input name="last_name" ng-model="create.last_name" type="text" maxlength="255" placeholder="Last Name" class="form-control">
</div>

<div class="form-group">
    <input name="date_of_birth" ng-model="create.date_of_birth" type="text" maxlength="10" placeholder="YYYY-MM-DD" class="form-control">
</div>

<div class="form-group">
    <input name="zip_code" ng-model="create.zip_code" type="text" maxlength="10" placeholder="XXXXX" class="form-control">
</div>

<div class="form-group">
    <textarea name="bio" ng-model="create.bio" placeholder="Bio" class="form-control"></textarea>
</div>

<div class="form-group">
    <textarea name="fantastic_bio" ng-model="create.fantastic_bio" placeholder="Reason for being so fantastic" class="form-control"></textarea>
</div>

    <button type="submit" ng-click="create.submit($event)" class="btn btn-primary">Create female</button>

</form>
<br>
<a href="/" class="btn btn-primary">Return to home</a>
