<form method="POST" action="">

<div class="form-group">
    <input name="firstName" ng-model="create.firstName" type="text" maxlength="255" placeholder="First Name" class="form-control">
</div>

<div class="form-group">
    <input name="lastName" ng-model="create.lastName" type="text" maxlength="255" placeholder="Last Name" class="form-control">
</div>

<div class="form-group">
    <input name="dateOfBirth" ng-model="create.dateOfBirth" type="text" maxlength="10" placeholder="YYYY-MM-DD" class="form-control">
</div>

<div class="form-group">
    <input name="zipCode" ng-model="create.zipCode" type="text" maxlength="10" placeholder="XXXXX" class="form-control">
</div>

<div class="form-group">
    <textarea name="bio" ng-model="create.bio" placeholder="Bio" class="form-control"></textarea>
</div>

<div class="form-group">
    <textarea name="fantasticBio" ng-model="create.fantasticBio" placeholder="Reason for being so fantastic" class="form-control"></textarea>
</div>

    <button type="submit" ng-click="create.submit($event)" class="btn btn-primary">Create female</button>

</form>
<br>
<a href="/" class="btn btn-primary">Return to home</a>
