<form method="PUT" action="">

<div class="form-group">
    <input name="first_name" ng-model="edit.first_name" type="text" maxlength="255" class="form-control">
</div>

<div class="form-group">
    <input name="last_name" ng-model="edit.last_name" type="text" maxlength="255" class="form-control">
</div>

<div class="form-group">
    <input name="date_of_birth" ng-model="edit.date_of_birth" type="text" maxlength="10" class="form-control">
</div>

<div class="form-group">
    <input name="zip_code" ng-model="edit.zip_code" type="text" maxlength="10" class="form-control">
</div>

<div class="form-group">
    <textarea name="bio" ng-model="edit.bio" class="form-control"></textarea>
</div>

<div class="form-group">
    <textarea name="fantastic_bio" ng-model="edit.fantastic_bio" class="form-control"></textarea>
</div>

    <input type="submit" ng-click="edit.submit($event)" text="Save Changes" class="btn btn-primary">

    <button type="button" ng-click="edit.delete()" class="btn btn-primary">Delete Female</button>

</form>

<a href="/detail/{{edit.first_name}}_{{edit.last_name}}" class="btn btn-primary">Return to {{edit.first_name}} {{edit.last_name}}</a>
