<form name="femaleCreate" novalidate ng-submit="create.submit()">

    <div class="form-group">
        <input name="firstName"
        ng-model="create.female.firstName"
        required
        ng-maxlength="255"
        ng-focus
        type="text"
        placeholder="First Name"
        class="form-control">
    </div>

    <div class="error"
    ng-show="femaleCreate.firstName.$dirty && femaleCreate.firstName.$invalid && !femaleCreate.firstName.$focused"
    ng-messages="femaleCreate.firstName.$error">
        <p ng-message="required">Please enter a first name.</p>
        <p ng-message="maxlength">The maximum allowed length for the first name is 255 characters.</p>
    </div>

    <div class="form-group">
        <input name="lastName"
        ng-model="create.female.lastName"
        required
        ng-maxlength="255"
        ng-focus
        type="text"
        placeholder="Last Name"
        class="form-control">
    </div>

    <div class="error"
    ng-show="femaleCreate.lastName.$dirty && femaleCreate.lastName.$invalid && !femaleCreate.lastName.$focused"
    ng-messages="femaleCreate.lastName.$error">
        <p ng-message="required">Please enter a last name.</p>
        <p ng-message="maxlength">The maximum allowed length for the last name is 255 characters.</p>
    </div>

    <div class="form-group">
        <textarea name="bio"
        ng-model="create.female.bio"
        required
        ng-focus
        placeholder="Bio"
        class="form-control"></textarea>
    </div>

    <div class="error"
    ng-show="femaleCreate.bio.$dirty && femaleCreate.bio.$invalid && !femaleCreate.bio.$focused"
    ng-messages="femaleCreate.bio.$error">
        <p ng-message="required">Please enter a bio.</p>
    </div>

    <div class="form-group">
        <textarea name="fantasticBio"
        ng-model="create.female.fantasticBio"
        required
        ng-focus
        placeholder="Reason for being so fantastic"
        class="form-control"></textarea>
    </div>

    <div class="error"
    ng-show="femaleCreate.fantasticBio.$dirty && femaleCreate.fantasticBio.$invalid && !femaleCreate.fantasticBio.$focused"
    ng-messages="femaleCreate.fantasticBio.$error">
        <p ng-message="required">Please enter a reason this female is considered fantastic.</p>
    </div>

    <button type="submit" ng-disabled="femaleCreate.$invalid" class="btn btn-primary">Create female</button>

</form>
<br>
<a href="/" class="btn btn-primary">Return to home</a>

<error-message error-type="create.errorType"></error-message>
